.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 4rem;
}
.wrap{
  display: flex;
  width: 50%;
  align-items: center;
  margin: 1rem;
}
.logininput {
  flex: 1;
  border: none;
  border-bottom: 1px solid rgb(106, 219, 207);
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
  
  border-radius: 0;
  display: inline-flex;
}
.inputtext{
  width: 60px;
  font-size: 1rem;
}
.loginbutton {
  width: 30%;
  line-height: 2.5rem;
  display: block;
  border-radius: 4rem;
  color: #fff;
  background: rgb(106, 219, 207);
  font-size: 1rem;
  padding: 0 2rem;
  outline: none;
  border: none;
}
.loginbutton:disabled {
  opacity: 0.5;
}
.loginbutton:active {
  opacity: 0.5;
}
.fff {
  width: 100%;
  height: 4.5rem;
  display: block;
}
